{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="container">
        <div class="row">
            <img id="home-logo" src="static/images/lr-logo.PNG">
        </div>

        <div class="text-center">
            <a href="{% url 'accounts:register' %}" type="submit" class="btn btn-primary btn-success col-lg-3">Sign
                Up!</a>
        </div>
        <br>
        <div class="text-center">
            <a href="{% url 'accounts:login' %}" type="button" class="btn btn-primary btn-success col-lg-3">Log
                In</a>
        </div>
    </div>
{% endblock content %}

